.frases {
    font-family: inter;
    margin-left: 1cm;
    padding-top: 1cm;
}
.frases_Obras {
    font-family: inter;
    text-align: center;
    padding-top: 1cm;
}
.foto_obra {
    padding-top: 1cm;
    padding-bottom: 1cm;
    text-align: center;
    display: block;
    margin: 0px auto;
}